<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label for="">numero de exercicios</label>
    <input type="text" id="numero">
    <button id="vai" onclick="funcaoBase()">Vai</button>

    <table id="minhaTabela">
        <thead>
            <tr>
                <th>Var 1</th>
                <th>Var 2</th>
            </tr>
        </thead>
        <tbody>


        </tbody>

    </table>

    </p>
    <script>
        
        function funcaoBase(){
            let linhas = document.getElementById('numero').value
            let corpoTabela = document.querySelector('tbody')
            for(let i = 0; i<linhas; i+=1){
                corpoTabela.innerHTML += `
                <tr>
                    <td>
                        <select name="" id="">
                            <option value="">Olá 1</option>
                            <option value="">Olá 2</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Olá 1</option>
                            <option value="">Olá 2</option>
                        </select>
                    </td>
                </tr>    
                `
            }
            

        }

    </script>
</body>
</html>